# **연도별 미세먼지 수치 데이터 정제**
- 연도별(2010 ~2020) 미세먼지 수치 데이터 파일 불러와 정제 후 저장
- 컬럼명 변경
- 대기오염 종류 : 대기먼지
- 수치(정수) 중 숫자가 아닌 것 변경 : *(아스트리카), -(바)
- 표주행정구역명 : 광역시도 / 시군구
- 중복되는 시군구 평균값 groupby
- 연평균
- 파일(csv) 및 디비 저장

In [1]:
import pandas as pd

In [2]:
#경고 메시지 표시 안하게 설정
import warnings
warnings.filterwarnings(action = 'ignore')

In [ ]:
p.to_csv('data/fin/year2019.csv', index=False)

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

## 디비연결
db_connection_str = 'mysql+pymysql://root:1234@localhost:3306/howair'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

# db_connection_str = 'mysql+pymysql://[db유저이름]:[db password]@[host address]/[db name]'

In [ ]:
## 테이블에 데이터 입력

p.to_sql(name='year2019', con=db_connection, if_exists='replace', index=True) 

#if_exists = append #데이터 추가

## **연도별 데이터 정제 : 2010 ~ 2018 / 2020**

In [3]:
# p = pd.read_csv('data/year_data/pm10_2010.csv', encoding='CP949', header=0, engine='python')
p = pd.read_csv('data/year_data/pm10_2020.csv', encoding='CP949', header=0, engine='python')
p

,구분(1),구분(2),구분(3),구분(4),2020.01,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,2020.12
0,도시대기,서울,중구,중구,41,40,41,39,32,33,20,23,21,40,50,49
1,도시대기,서울,종로구,종로구,43,42,43,42,34,36,22,23,21,36,44,44
2,도시대기,서울,중랑구,중랑구,42,41,45,43,34,38,22,25,19,32,40,42
3,도시대기,서울,동대문구,동대문구,39,39,40,39,31,34,20,23,19,30,38,38
4,도시대기,서울,은평구,은평구,39,38,46,47,37,37,19,21,18,32,38,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,도로변대기,충북,청주,복대동,50,48,48,47,35,37,18,26,28,41,45,46
577,도로변대기,충남,천안,성성동,66,58,57,51,44,43,28,25,29,48,52,51
578,도로변대기,전북,전주,서신동,-,-,-,40**,38,44,22,27,26,36,38,38
579,도로변대기,경남,창원,반송로,28,31,29,32,30,28,19,33,23,27,29,28
580,도로변대기,제주,제주,노형로,32,37,44,48,44,31,20,28,30,33,29,27

#### **데이터 정제**
- 컬럼명 변경
- 대기오염 종류 : 대기먼지
- 수치(정수) 중 숫자가 아닌 것 변경 : *(아스트리카), -(바)
- 표주행정구역명 : 광역시도 / 시군구
- 중복되는 시군구 평균값 groupby
- 연평균

In [87]:
p

,대기오염 종류,광역시도,시군구,읍면동,2016.01,2016.02,2016.03,2016.04,2016.05,2016.06,2016.07,2016.08,2016.09,2016.10,2016.11,2016.12
0,도시대기,서울,중구,중구,48,44,58,69,56,45,34,37,42,30**,51,47
1,도시대기,서울,종로구,종로구,50,46,63,67,53,44,30,31,32*,37,50,48
2,도시대기,서울,중랑구,중랑구,51,48,64,77,60,45,34,36,39,40,57,50
3,도시대기,서울,동대문구,동대문구,52,48,66,76,60,45,32,34,37,38,54,52
4,도시대기,서울,은평구,은평구,47,43,63,69,55,47,33,31,38,39,52,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,도로변대기,경기,시도평균,소계,59,56,74,80,62,49,35,38,44,45,61,59
334,도로변대기,충북,청주,복대동,61,58,81,89,78,65,37,37,46,55,68,61
335,도로변대기,충남,천안,성성동,50,42,56,58,50,53,36,51,47,53*,50*,54
336,도로변대기,전북,전주,금암동,56,59,72,83,59,50,38,44,46,51,69,62
337,도로변대기,경남,창원,반송로,45,43,54,63,51,40,29,36,47*,42,50,51

In [4]:
p.rename(columns={'구분(1)':'대기오염 종류'},inplace=True)
p.rename(columns={'구분(2)':'광역시도'},inplace=True)
p.rename(columns={'구분(3)':'시군구'},inplace=True)
p.rename(columns={'구분(4)':'읍면동'},inplace=True)
p

,대기오염 종류,광역시도,시군구,읍면동,2020.01,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,2020.12
0,도시대기,서울,중구,중구,41,40,41,39,32,33,20,23,21,40,50,49
1,도시대기,서울,종로구,종로구,43,42,43,42,34,36,22,23,21,36,44,44
2,도시대기,서울,중랑구,중랑구,42,41,45,43,34,38,22,25,19,32,40,42
3,도시대기,서울,동대문구,동대문구,39,39,40,39,31,34,20,23,19,30,38,38
4,도시대기,서울,은평구,은평구,39,38,46,47,37,37,19,21,18,32,38,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,도로변대기,충북,청주,복대동,50,48,48,47,35,37,18,26,28,41,45,46
577,도로변대기,충남,천안,성성동,66,58,57,51,44,43,28,25,29,48,52,51
578,도로변대기,전북,전주,서신동,-,-,-,40**,38,44,22,27,26,36,38,38
579,도로변대기,경남,창원,반송로,28,31,29,32,30,28,19,33,23,27,29,28
580,도로변대기,제주,제주,노형로,32,37,44,48,44,31,20,28,30,33,29,27

In [5]:
p = p[p['대기오염 종류']=='도시대기']
p

,대기오염 종류,광역시도,시군구,읍면동,2020.01,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,2020.12
0,도시대기,서울,중구,중구,41,40,41,39,32,33,20,23,21,40,50,49
1,도시대기,서울,종로구,종로구,43,42,43,42,34,36,22,23,21,36,44,44
2,도시대기,서울,중랑구,중랑구,42,41,45,43,34,38,22,25,19,32,40,42
3,도시대기,서울,동대문구,동대문구,39,39,40,39,31,34,20,23,19,30,38,38
4,도시대기,서울,은평구,은평구,39,38,46,47,37,37,19,21,18,32,38,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,도시대기,제주,제주,연동,35,39,40,45,38,28,20,24,28,33,31,29
472,도시대기,제주,서귀포,동홍동,26,30,31,41,35,25,19,31,25,29,27,21
473,도시대기,제주,서귀포,성산읍,30,33,33,39,34,27,16,29,25,29,26,20
474,도시대기,제주,서귀포,대정읍,33,35,35,41,38,31,23,36,29,33,30,25
475,도시대기,제주,서귀포,남원읍,25,31,32,40,33,26,19,30,20,26,25,22

In [6]:
cols = p.columns
cols = cols[4:]
cols

Index(['2020.01', '2020.02', '2020.03', '2020.04', '2020.05', '2020.06',
       '2020.07', '2020.08', '2020.09', '2020.10', '2020.11', '2020.12'],
      dtype='object')

In [15]:
# p.info()
p.head()
# p.dtypes

,대기오염 종류,광역시도,시군구,읍면동,2014.01,2014.02,2014.03,2014.04,2014.05,2014.06,2014.07,2014.08,2014.09,2014.10,2014.11,2014.12
0,도시대기,서울,중구,서소문동,57,57,61,57,63,38,39,29,29,34,43,43
1,도시대기,서울,종로구,효제동,52,52,57,54,59,36,36,27,27,37,50,48
2,도시대기,서울,중랑구,면목동,57,57,65,62,65,39,39,30,28,34,46,44
3,도시대기,서울,동대문구,용두동,57,57,64,60,64,38,38,29,28,33,43,42
4,도시대기,서울,은평구,불광동,56,57,60,56,62,37,39,29,29,29,39,53**

In [7]:
#아스트리카 제거
## 기존 코드 : #IndexError: invalid index to scalar variable.
# for i in cols:
    # p[i] = p[i].astype("string")
    
#해결 : 자료형을 string으로 변환 후 하니까 먹힘
for i in cols:
    for j in range(len(p)):
        if p[i][j][-1:] == '*':  #IndexError: invalid index to scalar variable.
            p[i][j] = p[i][j].rstrip('*')
            print(p[i][j])

44
35
38
55
53
29
39
61
40
46
20
36
37
37
50
45
48
39
40
37
32
31
30
33
65
45
42
42
48
33
47
37
37
42
28
33
32
32
25
49
59
34
26
26
26
19
23
24
18
23
21
25
12
14
13
16
15
23
35
25
28
27
21
24
22
14
17
16
22
34
18
27
17
29
18
36
23
20
30
23
23
21
19
17
24
19
29
31
28
37
35
42
42
38
40
40
34
31
22
18
39
27
43
37
38
33
67
46
24
22
26
21
41
35
24
31
24
19
23
31
35
33
42
25
33
34
24
31
21
24
41
28
28
26
30

In [8]:
#-인 것 조회했을 때, 안 나오면 정상적으로 수정된 것
for i in cols:
    for j in range(len(p)):
        if p[i][j] =='-':
        # if df[i][j] != '-':
            # print(p[i][j])
            p[i][j] = '0'

In [11]:
## 데이터 타입 확인 : 타입 변환 후 제대로 변환되었는지 확인
p.dtypes

대기오염 종류    object
광역시도       object
시군구        object
읍면동        object
2020.01     int32
2020.02     int32
2020.03     int32
2020.04     int32
2020.05     int32
2020.06     int32
2020.07     int32
2020.08     int32
2020.09     int32
2020.10     int32
2020.11     int32
2020.12     int32
dtype: object

In [10]:
## 타입변환 : object -> int
for i in cols:
    # p[i] = p[i].astype("string")
    p[i] = p[i].astype(int)

In [62]:
p

,대기오염 종류,광역시도,시군구,읍면동,2015.01,2015.02,2015.03,2015.04,2015.05,2015.06,2015.07,2015.08,2015.09,2015.10,2015.11,2015.12
0,도시대기,서울,중구,서소문동,47,85,72,46,45,34,30,34,26,43,31,45
1,도시대기,서울,종로구,효제동,54,98,79,49,52,42,35,36,28,44,33,49
2,도시대기,서울,중랑구,면목동,49,88,73,47,46,33,29,32,26,43,32,47
3,도시대기,서울,동대문구,용두동,48,82,70,44,44,32,27,31,27,46,34,49
4,도시대기,서울,은평구,불광동,51,88,70,43,43,32,29,33,28,45,33,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,도시대기,경남,거제,아주동,39,56,53,44,46,48,35,44,35,43,35,40
261,도시대기,경남,사천,사천읍,43,60,50,33,40,39,32,32,24,32,30,43
262,도시대기,제주,제주,이도동,50,64,66,49,45,40,35,39,28,45,36,43
263,도시대기,제주,제주,연동,51,63,58,46,39,41,37,39,37,56,45,42
264,도시대기,제주,서귀포,동홍동,47,55,53,47,43,40,30,29,34,32,27,37

In [12]:
p['광역시도'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [13]:
#광역시도 이름 -> 표준행정구역명 수정할 #딕셔너리
sido_name = {'서울':'서울특별시', '부산':'부산광역시', '대구':'대구광역시', '인천':'인천광역시', '광주':'광주광역시', '대전':'대전광역시', '울산':'울산광역시', '세종':'세종특별자치시',
              '경기':'경기도', '강원':'강원도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도', '제주':'제주특별자치도'}

In [14]:
#광역시도 이름 변경
p['광역시도'] = p['광역시도'].apply(lambda v: sido_name.get(v, v))
p['광역시도'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [15]:
p['시군구'].unique()

array(['중구', '종로구', '중랑구', '동대문구', '은평구', '마포구', '영등포구', '동작구', '관악구',
       '강남구', '금천구', '강동구', '강북구', '성북구', '용산구', '광진구', '성동구', '도봉구',
       '서대문구', '구로구', '서초구', '강서구', '송파구', '양천구', '노원구', '남구', '사상구',
       '북구', '사하구', '부산진구', '연제구', '영도구', '금정구', '해운대구', '기장군', '수영구',
       '동래구', '동구', '서구', '수성구', '달서구', '달성군', '남동구', '부평구', '옹진군', '계양구',
       '강화군', '연수구', '미추홀구', '광산구', '대덕구', '유성구', '울주군', '세종', '수원', '안양',
       '성남', '의정부', '광명', '안산', '평택', '과천', '구리', '의왕', '고양', '광주', '군포',
       '시흥', '부천', '남양주', '용인', '김포', '오산', '하남', '화성', '양주', '동두천', '안성',
       '이천', '파주', '포천', '여주', '연천', '가평', '양평', '양구', '고성', '정선', '횡성',
       '춘천', '강릉', '원주', '동해', '삼척', '평창', '양양', '속초', '영월', '철원', '홍천',
       '화천', '태백', '인제', '괴산', '음성', '청주', '충주', '제천', '단양', '진천', '옥천',
       '영동', '증평', '보은', '천안', '당진', '서산', '아산', '논산', '태안', '보령', '홍성',
       '공주', '부여', '청양', '금산', '예산', '계룡', '서천', '임실', '전주', '군산', '익산',
       '남원', '정읍', '고창', '부안', '김제', '완주', '진안', '무주', '순창', '장수', '화순',
       '여수', '광양', '순천', '목포', '영암', '나주', '담양', '장성', '해남', '영광', '장흥',
       '진도', '완도', '함평', '고흥', '신안', '무안', '강진', '곡성', '구례', '보성', '영덕',
       '영천', '의성', '포항', '구미', '김천', '경주', '안동', '영주', '경산', '상주', '칠곡',
       '울진', '봉화', '울릉도', '고령', '군위', '성주', '예천', '청도', '청송', '영양', '문경',
       '창원', '진주', '하동', '김해', '양산', '거제', '사천', '밀양', '통영', '거창', '함안',
       '함양', '남해', '산청', '의령', '창녕', '합천', '제주', '서귀포'], dtype=object)

In [16]:
sigungu_name = {'세종':'세종특별자치시', 
               #경기도
               '수원':'수원시', '안양':'안양시', '성남':'성남시', '의정부':'의정부시', '광명':'광명시', '안산':'안산시', '평택':'평택시',
               '과천':'과천시', '구리':'구리시', '의왕':'의왕시', '고양':'고양시', '광주':'광주시', '군포':'군포시', '시흥':'시흥시', '부천':'부천시', '남양주':'남양주시', 
               '용인':'용인시', '김포':'김포시', '오산':'오산시', '하남':'하남시', '화성':'화성시', '양주':'양주시', '동두천':'동두천시', '안성':'안성시',
               '이천':'이천시', '파주':'파주시', '포천':'포천시', '여주':'여주시', '연천':'연천군', '가평':'가평군', '양평':'양평군', '옹진':'옹진군',
               #강원도
                '양구':'양구군', '고성':'고성군', '정선':'정선군', '횡성':'횡성군', '춘천':'춘천시', '강릉':'강릉시', '원주':'원주시', '동해':'동해시', '삼척':'삼척시',
                '평창':'평창군', '양양':'양양군', '속초':'속초시', '영월':'영월군', '철원':'철원시', '홍천':'홍천군', '화천':'화천군', '태백':'태백시', '인제':'인제군',
               #충청북도
               '괴산':'괴산군', '음성':'음성군', '청주':'청주시', '충주':'충주시', '제천':'제천시', '단양':'단양군', '진천':'진천시', '옥천':'옥천군', '영동':'영동군',
               '증평':'증평군', '보은':'보은시',
               #충청남도
               '천안':'천안시', '당진':'당진시', '서산':'서산시', '아산':'아산시', '논산':'논산시', '태안':'태안군', '보령':'보령시', '홍성':'홍성군', '공주':'공주시', 
               '부여':'부여군', '청양':'청양군', '금산':'금산군', '예산':'예산군', '계룡':'계룡시', '서천':'서천시',
                #전라북도
                '임실':'임실군', '전주':'전주시', '군산':'군산시', '익산':'익산시', '남원':'남원시', '정읍':'정읍시', '고창':'고창군', '부안':'부안군', '김제':'김제시',
                '완주':'완주군', '진안':'진안군', '무주':'무주군', '순창':'순창군', '장수':'장수군',
                #전라남도
                '화순':'화순군', '여수':'여수시', '광양':'광양시', '순천':'순천시', '목포':'목포시', '영암':'영암군', '나주':'나주시', '담양':'담양군', '장성':'장성군',
                '해남':'해남군', '영광':'영광군', '장흥':'장흥군', '진도':'진도군', '완도':'완도군', '함평':'함평군', '고흥':'고흥군', '신안':'신안군', '무안':'무안군',
                '강진':'강진군', '곡성':'곡성군', '구례':'구례군', '보성':'보성군',
                #경상북도
                '영덕':'영덕군', '영천':'영천시', '의성':'의성군', '포항':'포항시', '구미':'구미시', '김천':'김천시', '경주':'경주시', '안동':'안동시', '영주':'영주시',
                '경산':'경산시', '상주':'상주시', '칠곡':'칠곡군', '울진':'울진군', '봉화':'봉화군', '울릉도':'울릉군', '고령':'고령군', '군위':'군위군', '성주':'성주군',
                '예천':'예천군', '청도':'청도군', '청송':'청송군', '영양':'영양군', '문경':'문경시',
                #경상남도
                '창원':'창원시', '진주':'진주시', '하동':'하동군', '김해':'김해시', '양산':'양산시', '거제':'거제시', '사천':'사천시', '밀양':'밀양시', '통영':'통영시',
                '거창':'거창군', '함안':'함안군', '함양':'함양군', '남해':'남해군', '산청':'산청군', '의령':'의령군', '창녕':'창녕군', '합천':'합천군',
                #제주특별자치도
                '제주':'제주시', '서귀포':'서귀포시'
               }

In [17]:
p['시군구'] = p['시군구'].apply(lambda v: sigungu_name.get(v, v))
p['시군구'].unique()

#누락
#2010 : 청원 / 마산 / 진해
#2011 : 청원 / 마산 / 진해
#2012 : 청원 / 마산 / 진해
#2013 : 청원 / 마산 / 진해
#2014 : 청원 / 마산 / 진해
#2018 : 청원 /

array(['중구', '종로구', '중랑구', '동대문구', '은평구', '마포구', '영등포구', '동작구', '관악구',
       '강남구', '금천구', '강동구', '강북구', '성북구', '용산구', '광진구', '성동구', '도봉구',
       '서대문구', '구로구', '서초구', '강서구', '송파구', '양천구', '노원구', '남구', '사상구',
       '북구', '사하구', '부산진구', '연제구', '영도구', '금정구', '해운대구', '기장군', '수영구',
       '동래구', '동구', '서구', '수성구', '달서구', '달성군', '남동구', '부평구', '옹진군', '계양구',
       '강화군', '연수구', '미추홀구', '광산구', '대덕구', '유성구', '울주군', '세종특별자치시', '수원시',
       '안양시', '성남시', '의정부시', '광명시', '안산시', '평택시', '과천시', '구리시', '의왕시',
       '고양시', '광주시', '군포시', '시흥시', '부천시', '남양주시', '용인시', '김포시', '오산시',
       '하남시', '화성시', '양주시', '동두천시', '안성시', '이천시', '파주시', '포천시', '여주시',
       '연천군', '가평군', '양평군', '양구군', '고성군', '정선군', '횡성군', '춘천시', '강릉시',
       '원주시', '동해시', '삼척시', '평창군', '양양군', '속초시', '영월군', '철원시', '홍천군',
       '화천군', '태백시', '인제군', '괴산군', '음성군', '청주시', '충주시', '제천시', '단양군',
       '진천시', '옥천군', '영동군', '증평군', '보은시', '천안시', '당진시', '서산시', '아산시',
       '논산시', '태안군', '보령시', '홍성군', '공주시', '부여군', '청양군', '금산군', '예산군',
       '계룡시', '서천시', '임실군', '전주시', '군산시', '익산시', '남원시', '정읍시', '고창군',
       '부안군', '김제시', '완주군', '진안군', '무주군', '순창군', '장수군', '화순군', '여수시',
       '광양시', '순천시', '목포시', '영암군', '나주시', '담양군', '장성군', '해남군', '영광군',
       '장흥군', '진도군', '완도군', '함평군', '고흥군', '신안군', '무안군', '강진군', '곡성군',
       '구례군', '보성군', '영덕군', '영천시', '의성군', '포항시', '구미시', '김천시', '경주시',
       '안동시', '영주시', '경산시', '상주시', '칠곡군', '울진군', '봉화군', '울릉군', '고령군',
       '군위군', '성주군', '예천군', '청도군', '청송군', '영양군', '문경시', '창원시', '진주시',
       '하동군', '김해시', '양산시', '거제시', '사천시', '밀양시', '통영시', '거창군', '함안군',
       '함양군', '남해군', '산청군', '의령군', '창녕군', '합천군', '제주시', '서귀포시'],
      dtype=object)

### **행정구역명 변동**
- 충청북도 청원군 -> 충청북도 청주시
- 경상남도 마산시 -> 경상남도 창원시 마산합포구 / 마산회원구

In [18]:
p[p['시군구'] =='강릉시']

,대기오염 종류,광역시도,시군구,읍면동,2020.01,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,2020.12
248,도시대기,강원도,강릉시,옥천동,25,32,36,38,32,42,14,17,27,31,32,30

In [26]:
# p[p['시군구'] =='청주시'] #176 #청주시   #181
# p[p['시군구'] =='마산'] #226, 227 #창원시  #235, 236  #236, 237
p[p['시군구'] =='진해'] #231 #창원시         240  #241

Empty DataFrame
Columns: [대기오염 종류, 광역시도, 시군구, 읍면동, 2020.01, 2020.02, 2020.03, 2020.04, 2020.05, 2020.06, 2020.07, 2020.08, 2020.09, 2020.10, 2020.11, 2020.12]
Index: []

In [ ]:
p.to_csv('data/year_data/2010.csv', index=False)

In [ ]:
p = pd.read_csv('data/year_data/2010.csv', encoding='utf-8', header=0, engine='python')
p

In [22]:
### 데이터 변경

# p.iloc[176][2] = '청주시'

p = p.replace('청주', '청주시')
# p = p.replace('마산', '창원시')
# p = p.replace('진해', '창원시')

In [20]:
#데이터 변경 체크
# p.iloc[176][2]
p.iloc[213]

대기오염 종류    도시대기
광역시도        경기도
시군구         화성시
읍면동         동탄동
2020.01      58
2020.02      61
2020.03       0
2020.04      42
2020.05      38
2020.06      43
2020.07      23
2020.08      23
2020.09      23
2020.10      36
2020.11      41
2020.12      41
Name: 213, dtype: object

#### **시군구별 중복 읍면동 평군 구하기**
- address : 광역시도, 시군구 병합
- groupby : 중복 시군구 평균 구하기

In [27]:
p['address'] = p.apply(lambda r: r['광역시도']+' '+r['시군구'], axis=1)
p

,대기오염 종류,광역시도,시군구,읍면동,2020.01,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,2020.12,address
0,도시대기,서울특별시,중구,중구,41,40,41,39,32,33,20,23,21,40,50,49,서울특별시 중구
1,도시대기,서울특별시,종로구,종로구,43,42,43,42,34,36,22,23,21,36,44,44,서울특별시 종로구
2,도시대기,서울특별시,중랑구,중랑구,42,41,45,43,34,38,22,25,19,32,40,42,서울특별시 중랑구
3,도시대기,서울특별시,동대문구,동대문구,39,39,40,39,31,34,20,23,19,30,38,38,서울특별시 동대문구
4,도시대기,서울특별시,은평구,은평구,39,38,46,47,37,37,19,21,18,32,38,39,서울특별시 은평구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,도시대기,제주특별자치도,제주시,연동,35,39,40,45,38,28,20,24,28,33,31,29,제주특별자치도 제주시
472,도시대기,제주특별자치도,서귀포시,동홍동,26,30,31,41,35,25,19,31,25,29,27,21,제주특별자치도 서귀포시
473,도시대기,제주특별자치도,서귀포시,성산읍,30,33,33,39,34,27,16,29,25,29,26,20,제주특별자치도 서귀포시
474,도시대기,제주특별자치도,서귀포시,대정읍,33,35,35,41,38,31,23,36,29,33,30,25,제주특별자치도 서귀포시
475,도시대기,제주특별자치도,서귀포시,남원읍,25,31,32,40,33,26,19,30,20,26,25,22,제주특별자치도 서귀포시

In [28]:
p_mean = p.groupby('address').mean()
p_mean

,2020.01,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,2020.12
address,,,,,,,,,,,,
강원도 강릉시,25.000000,32.00,36.000000,38.000,32.000000,42.00,14.000000,17.000000,27.000000,31.000000,32.000000,30.000000
강원도 고성군,23.000000,28.00,32.000000,34.000,27.000000,33.00,14.000000,16.000000,19.000000,28.000000,22.000000,25.000000
강원도 동해시,21.000000,28.00,30.000000,32.000,27.000000,30.00,16.000000,22.000000,21.000000,25.000000,26.000000,25.000000
강원도 삼척시,22.000000,28.00,30.000000,32.000,28.000000,32.00,16.000000,22.000000,21.000000,24.000000,23.000000,19.000000
강원도 속초시,12.500000,16.00,18.500000,20.500,16.500000,20.00,11.000000,11.000000,13.000000,16.000000,20.500000,16.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
충청북도 제천시,14.333333,13.00,12.666667,11.000,9.333333,0.00,16.666667,19.333333,20.333333,36.666667,39.333333,43.333333
충청북도 증평군,50.000000,42.00,38.000000,40.000,42.000000,45.00,22.000000,30.000000,32.000000,43.000000,46.000000,48.000000
충청북도 진천시,23.500000,21.50,46.500000,46.500,38.500000,40.00,20.500000,21.500000,22.500000,37.000000,44.000000,42.000000
충청북도 청주시,35.625000,33.75,39.250000,39.125,31.625000,32.25,19.500000,22.000000,24.750000,41.500000,45.250000,46.500000
충청북도 충주시,24.750000,23.00,43.250000,46.750,36.250000,38.75,19.000000,21.250000,20.000000,35.000000,41.250000,44.000000

In [29]:
p_mean = p_mean.rename(columns={
                  '2020.01':'m01avg', '2020.02':'m02avg', '2020.03':'m03avg', '2020.04':'m04avg', '2020.05':'m05avg', '2020.06':'m06avg',
                  '2020.07':'m07avg', '2020.08':'m08avg', '2020.09':'m09avg', '2020.10':'m10avg', '2020.11':'m11avg', '2020.12':'m12avg'})
p_mean

,m01avg,m02avg,m03avg,m04avg,m05avg,m06avg,m07avg,m08avg,m09avg,m10avg,m11avg,m12avg
address,,,,,,,,,,,,
강원도 강릉시,25.000000,32.00,36.000000,38.000,32.000000,42.00,14.000000,17.000000,27.000000,31.000000,32.000000,30.000000
강원도 고성군,23.000000,28.00,32.000000,34.000,27.000000,33.00,14.000000,16.000000,19.000000,28.000000,22.000000,25.000000
강원도 동해시,21.000000,28.00,30.000000,32.000,27.000000,30.00,16.000000,22.000000,21.000000,25.000000,26.000000,25.000000
강원도 삼척시,22.000000,28.00,30.000000,32.000,28.000000,32.00,16.000000,22.000000,21.000000,24.000000,23.000000,19.000000
강원도 속초시,12.500000,16.00,18.500000,20.500,16.500000,20.00,11.000000,11.000000,13.000000,16.000000,20.500000,16.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
충청북도 제천시,14.333333,13.00,12.666667,11.000,9.333333,0.00,16.666667,19.333333,20.333333,36.666667,39.333333,43.333333
충청북도 증평군,50.000000,42.00,38.000000,40.000,42.000000,45.00,22.000000,30.000000,32.000000,43.000000,46.000000,48.000000
충청북도 진천시,23.500000,21.50,46.500000,46.500,38.500000,40.00,20.500000,21.500000,22.500000,37.000000,44.000000,42.000000
충청북도 청주시,35.625000,33.75,39.250000,39.125,31.625000,32.25,19.500000,22.000000,24.750000,41.500000,45.250000,46.500000
충청북도 충주시,24.750000,23.00,43.250000,46.750,36.250000,38.75,19.000000,21.250000,20.000000,35.000000,41.250000,44.000000

In [30]:
p = p_mean.reset_index(drop=False, inplace=False)
p

,address,m01avg,m02avg,m03avg,m04avg,m05avg,m06avg,m07avg,m08avg,m09avg,m10avg,m11avg,m12avg
0,강원도 강릉시,25.000000,32.00,36.000000,38.000,32.000000,42.00,14.000000,17.000000,27.000000,31.000000,32.000000,30.000000
1,강원도 고성군,23.000000,28.00,32.000000,34.000,27.000000,33.00,14.000000,16.000000,19.000000,28.000000,22.000000,25.000000
2,강원도 동해시,21.000000,28.00,30.000000,32.000,27.000000,30.00,16.000000,22.000000,21.000000,25.000000,26.000000,25.000000
3,강원도 삼척시,22.000000,28.00,30.000000,32.000,28.000000,32.00,16.000000,22.000000,21.000000,24.000000,23.000000,19.000000
4,강원도 속초시,12.500000,16.00,18.500000,20.500,16.500000,20.00,11.000000,11.000000,13.000000,16.000000,20.500000,16.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도 제천시,14.333333,13.00,12.666667,11.000,9.333333,0.00,16.666667,19.333333,20.333333,36.666667,39.333333,43.333333
225,충청북도 증평군,50.000000,42.00,38.000000,40.000,42.000000,45.00,22.000000,30.000000,32.000000,43.000000,46.000000,48.000000
226,충청북도 진천시,23.500000,21.50,46.500000,46.500,38.500000,40.00,20.500000,21.500000,22.500000,37.000000,44.000000,42.000000
227,충청북도 청주시,35.625000,33.75,39.250000,39.125,31.625000,32.25,19.500000,22.000000,24.750000,41.500000,45.250000,46.500000
228,충청북도 충주시,24.750000,23.00,43.250000,46.750,36.250000,38.75,19.000000,21.250000,20.000000,35.000000,41.250000,44.000000

#### **연평균 구하기**

In [31]:
# len(p)
cols = p.columns[1:]
cols

Index(['m01avg', 'm02avg', 'm03avg', 'm04avg', 'm05avg', 'm06avg', 'm07avg',
       'm08avg', 'm09avg', 'm10avg', 'm11avg', 'm12avg'],
      dtype='object')

In [32]:
p['year_avg'] = p[cols].mean(axis=1) #열평균(가로로 더해서 평균)
p

,address,m01avg,m02avg,m03avg,m04avg,m05avg,m06avg,m07avg,m08avg,m09avg,m10avg,m11avg,m12avg,year_avg
0,강원도 강릉시,25.000000,32.00,36.000000,38.000,32.000000,42.00,14.000000,17.000000,27.000000,31.000000,32.000000,30.000000,29.666667
1,강원도 고성군,23.000000,28.00,32.000000,34.000,27.000000,33.00,14.000000,16.000000,19.000000,28.000000,22.000000,25.000000,25.083333
2,강원도 동해시,21.000000,28.00,30.000000,32.000,27.000000,30.00,16.000000,22.000000,21.000000,25.000000,26.000000,25.000000,25.250000
3,강원도 삼척시,22.000000,28.00,30.000000,32.000,28.000000,32.00,16.000000,22.000000,21.000000,24.000000,23.000000,19.000000,24.750000
4,강원도 속초시,12.500000,16.00,18.500000,20.500,16.500000,20.00,11.000000,11.000000,13.000000,16.000000,20.500000,16.500000,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도 제천시,14.333333,13.00,12.666667,11.000,9.333333,0.00,16.666667,19.333333,20.333333,36.666667,39.333333,43.333333,19.666667
225,충청북도 증평군,50.000000,42.00,38.000000,40.000,42.000000,45.00,22.000000,30.000000,32.000000,43.000000,46.000000,48.000000,39.833333
226,충청북도 진천시,23.500000,21.50,46.500000,46.500,38.500000,40.00,20.500000,21.500000,22.500000,37.000000,44.000000,42.000000,33.666667
227,충청북도 청주시,35.625000,33.75,39.250000,39.125,31.625000,32.25,19.500000,22.000000,24.750000,41.500000,45.250000,46.500000,34.260417
228,충청북도 충주시,24.750000,23.00,43.250000,46.750,36.250000,38.75,19.000000,21.250000,20.000000,35.000000,41.250000,44.000000,32.770833

In [33]:
p = p.round(0)
p

,address,m01avg,m02avg,m03avg,m04avg,m05avg,m06avg,m07avg,m08avg,m09avg,m10avg,m11avg,m12avg,year_avg
0,강원도 강릉시,25.0,32.0,36.0,38.0,32.0,42.0,14.0,17.0,27.0,31.0,32.0,30.0,30.0
1,강원도 고성군,23.0,28.0,32.0,34.0,27.0,33.0,14.0,16.0,19.0,28.0,22.0,25.0,25.0
2,강원도 동해시,21.0,28.0,30.0,32.0,27.0,30.0,16.0,22.0,21.0,25.0,26.0,25.0,25.0
3,강원도 삼척시,22.0,28.0,30.0,32.0,28.0,32.0,16.0,22.0,21.0,24.0,23.0,19.0,25.0
4,강원도 속초시,12.0,16.0,18.0,20.0,16.0,20.0,11.0,11.0,13.0,16.0,20.0,16.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도 제천시,14.0,13.0,13.0,11.0,9.0,0.0,17.0,19.0,20.0,37.0,39.0,43.0,20.0
225,충청북도 증평군,50.0,42.0,38.0,40.0,42.0,45.0,22.0,30.0,32.0,43.0,46.0,48.0,40.0
226,충청북도 진천시,24.0,22.0,46.0,46.0,38.0,40.0,20.0,22.0,22.0,37.0,44.0,42.0,34.0
227,충청북도 청주시,36.0,34.0,39.0,39.0,32.0,32.0,20.0,22.0,25.0,42.0,45.0,46.0,34.0
228,충청북도 충주시,25.0,23.0,43.0,47.0,36.0,39.0,19.0,21.0,20.0,35.0,41.0,44.0,33.0

## save : CSV 파일  / DB - MySQL

In [173]:
p.to_csv('data/fin/year2020.csv', index=False)

In [52]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

## 디비연결
db_connection_str = 'mysql+pymysql://root:1234@localhost:3306/howair'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

# db_connection_str = 'mysql+pymysql://[db유저이름]:[db password]@[host address]/[db name]'

In [174]:
## 테이블에 데이터 입력

p.to_sql(name='year2020', con=db_connection, if_exists='replace', index=True) 

#if_exists = append #데이터 추가

229