In [ ]:
a=1
b=2
print(a,b)

In [ ]:
a=1.5
b=3.5
print(a,b,12.5)

In [ ]:
s1="홍길동"
s2="학생"
print(s1,s2)

In [ ]:
b1=True
b2=False
print(b1,b2)
print(b1==b2)
print(s1+s2)
print(s1*10)

In [ ]:
a=10
a+=1
print(a)

In [ ]:
a=10
b=5
print(a>b)
print(a<b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

In [ ]:
print(a>>1) #a=1010 b=0101
print(a<<1) 
print(a&b) #a=0000
print(a|b) #1111
print(a^b) #1111
print(~a)

In [ ]:
print(a>5 and b>5)
print(a>5 or b>5)
print(not(a>5))

In [ ]:
a=3.5
b=int(a)
print(b)
c=float(b)
print(c)
print("python"+str(c))
print(10/3)
print(1==True)
print(0==False)

In [ ]:
a=10
b=3.5
c='python'
print(type(a))
print(type(b))
print(type(c))

In [ ]:
name="홍길동"
age=10
height=180.4
weight=70.5

print("내이름은",name,"이고 나이는",age,"이다")
print("내이름은"+name+"이고 나이는"+str(age)+"이다")
print("내이름은 %s 이고 나이는 %d 이다"%(name, age))
print("내 키는",height,"이고 몸무게는",weight,"이다")
print("내이름은 %s 이고 나이는 %d 이고 키는 %.2f 몸무게는 %.2f이다"%(name, age,height,weight))

In [ ]:
print('이름을 입력하세요')
name=input()
print(name)

In [ ]:
name=input('이름을 입력하세요')
print(name)

In [ ]:
a=input('아무 숫자나 입력하세요')
print(int(a)*2)

In [ ]:
print('본 프로그램은 섭씨온도를 화씨온도로 바꾸는 프로그램입니다.')
C=float(input('변환하고 싶은 섭씨온도를 입력하세요.'))
F=(C*1.8)+32
print('섭씨온도',C)
print('화씨온도',F)

In [ ]:
a=[1,2,3,4,5]
for i in a:
    print(i)

In [3]:
cities=['서울','부산','인천','대구','대전','광주','울산','수원']
print(cities[:1])
print(cities[2:])

['서울']
['인천', '대구', '대전', '광주', '울산', '수원']

In [15]:
color1=['red','blue','green']
color2=['red','black','white']
colors=color1+color2
print(colors)
print(color*2)
print('blue' in color1)
print('bule' in color2)
color1.append('pupple')
print(color1)
color1.extend(['pink','yellow'])
print(color1)

['red', 'blue', 'green', 'red', 'black', 'white']
['red', 'blue', 'green', 'red', 'blue', 'green']
True
False
['red', 'blue', 'green', 'pupple']
['red', 'blue', 'green', 'pupple', 'pink', 'yellow']

In [17]:
color1.insert(1,'pink')
print(color1)
color1.remove('red')
print(color1)
del color1[0]
print(color1)

['red', 'pink', 'pink', 'blue', 'green', 'pupple', 'pink', 'yellow']
['pink', 'pink', 'blue', 'green', 'pupple', 'pink', 'yellow']
['pink', 'blue', 'green', 'pupple', 'pink', 'yellow']

In [20]:
t=[1,2,3]
a,b,c=t
print(a,b,c)
a,*b=t
print(a,b)
print(a,*b)

1 2 3
1 [2, 3]
1 2 3

In [21]:
kor=[49,79.20,100,82]
math=[43,59,85,30,90]
eng=[49,79,48,60,100]
scores=[kor,math,eng]
print(scores)

[[49, 79.2, 100, 82], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [22]:
a=1
b=1
print(a is b)
print(a==b)

c=300
d=300
print(c is d)
print(c==d)

True
True
False
True

In [23]:
a=[5,4,3,2,1]
b=a
b.sort()
print(b)

[1, 2, 3, 4, 5]

In [24]:
myage=int(input("Tell me your age"))
if myage<30:
    print("welcome")
else :
    print("get out")

Tell me your age 20

welcome

In [28]:
score=int(input('점수입력'))
if score>=90:
    print('A')
elif score>=80:
    print('B')
elif score>=70:
    print('C')
elif score>=60:
    print('D')
else:
    print('F')

점수입력 23

F

In [36]:
year=int(input('당신의 출생년도는?'))
age=(2022-year)+1
print('당신의 나이',age)
if age>=20:
    print('대학생')
elif age>17:
    print('고등학생')
elif age>14:
    print('중학생')
elif age>8:
    print('초등학생')
else:
    print('학생 아님')

당신의 출생년도는? 23

당신의 나이 2000
대학생

In [37]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [46]:
for i in range(0,10): #range(start,end,step)
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [47]:
s="python"
for i in s:
    print(i)

p
y
t
h
o
n

In [53]:
str=['python','java','c#']
for i in str:
    for j in i:
        print(j, end=" ")
    print()

p y t h o n
j a v a
c #

In [61]:
i=1
sum=0
while (i<=10):
    sum+=i
    print(i, sum)
    i+=1

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [81]:
for i in range(10):
    if i==5:
        break
    print(i,'break')

0 break
1 break
2 break
3 break
4 break