In [ ]:
import sqlite3

In [ ]:
def create_table():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="""
    create table if not exists books(
    title text,
    publisher text,
    pages integer,
    recommend integer)"""
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [ ]:
create_table()

In [ ]:
def insert_books():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    #sql="insert into books values('java','길벗',500,1)"
    sql="insert into books values(?,?,?,?)"
    book=('python','한빛',600,1)
    cursor.execute(sql,book)
    conn.commit()
    conn.close()

In [ ]:
insert_books()

In [ ]:
def insert_many_books(books):
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    #sql="insert into books values('java','길벗',500,1)"
    sql="insert into books values(?,?,?,?)"

    cursor.executemany(sql,books)
    conn.commit()
    conn.close()

In [ ]:
books=[('빅데이터','영진',600,2),('안드로이드','이지스퍼블리싱',500,3),('스프링','생능',650,1)]
insert_many_books(books)

In [ ]:
def all_books():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall() #모든 데이터를 다 받아옴
    print(books)
    print(len(books))
    
    for book in books:
        print(book)
    
    conn.close()

In [ ]:
all_books()

In [ ]:
import sqlite3
# 데이터 개수 지정하여 출력
def some_books(number):
    conn=sqlite3.connect("my_books.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    books=cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()
some_books(3)

In [ ]:
import sqlite3
#1개의 데이터 출력
def one_book():
    conn=sqlite3.connect("my_books.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    book=cursor.fetchone()
    print(type(book))
    print(book)
    conn.close()
one_book()

In [ ]:
import sqlite3
def big_books():
    conn=sqlite3.connect("my_books.db")
    cursor=conn.cursor()
    cursor.execute("select title,pages from books where pages>300 order by pages desc")
    books=cursor.fetchall()
    for book in books:
        print(book)
    conn.close()
big_books()

In [ ]:
import sqlite3
def update_books():
    conn=sqlite3.connect("my_books.db")
    cursor=conn.cursor()
    sql='update books set recommend=? where title=?'
    cursor.execute(sql,(200,'Java'))
    conn.commit()
    conn.close()

update_books()
one_book()

In [ ]:
import sqlite3
def delete_books():
    conn=sqlite3.connect("my_books.db")
    cursor=conn.cursor()
    sql="delete from books where publisher='영진'"
    cursor.execute(sql)
    conn.commit()
    conn.close()
delete_books()
all_books()

In [ ]:
import sqlite3
def delete_books():
    conn=sqlite3.connect("my_books.db")
    cursor=conn.cursor()
    sql="delete from books where publisher='영진'"
    cursor.execute(sql)
    conn.commit()
    conn.close()
delete_books()
all_books()

In [ ]:
import cx_Oracle
def all_product():
    conn=cx_Oracle.connect("jhs/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product"
    cursor.execute(sql)
    for row in cursor:
        description=row[3].read() #CLOB 필드 읽는 방법
        data=list(row) # tuple->list로 변경
        data[3]=description
        print(data)
    cursor.close()
    conn.close()
all_product()

In [ ]:
import cx_Oracle
def insert_product():
    conn=cx_Oracle.connect("jhs/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product(product_id,product_name,price,description,picture_url) values(:1,:2,:3,:4,:5)"
    data=(2, '감자', 1500, '감자는 맛있습니다.', 'potato.jpg') 
    cursor.execute(sql,data)
    cursor.close()
    conn.commit()
    conn.close()
insert_product()

In [ ]:
# 복수개 레코드 삽입
def insert_many():
    conn=cx_Oracle.connect("jhs/1234@localhost:1521/xe")
    cursor=conn.cursor()
    items=[
        (3, '오렌지', 2000, '비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg'), 
        (4, '키위', 3000, '비타민 C가 매우 풍부합니다. 다이어트나 미용에 좋습니다', 'kiwi.jpg'), 
        (5, '포도', 5000, '폴리페놀을 다량함유하고 있어 항산화 작용을 합니다,', 'grape.jpg'),
        (6, '딸기', 8000, '비타민 C나 플로보노이드를 다량 함유하고 있습니다,', 'strawberry.jpg'),
        (7, '귤', 7000, '시네피린을 함유하고 있어 감기 예방에 좋다고 합니다,', 'tangerine.jpg')
        ]
    sql="insert into product values(:1,:2,:3,:4,:5)"
     # cursor.executemany(sql,items) #for문과 동일
    for row in items:
        cursor.execute(sql,row)
    conn.commit()
    conn.close()
insert_many()

In [ ]:
import cx_Oracle
def name_select():
    conn=cx_Oracle.connect("jhs/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product where product_name=:1"
    cursor.execute(sql,('포도',))
    for row in cursor:
        description=row[3].read() #CLOB 필드 읽는 방법
        data=list(row) # tuple->list로 변경
        data[3]=description
        print(data)
    cursor.close()
    conn.close()
name_select()

In [ ]:
# 일부레코드 삭제
def delete_product():
    conn=cx_Oracle.connect("jhs/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="delete from product where product_id=:product_id"
    cursor.execute(sql,{'product_id':5})
    cursor.close()
    conn.commit()
    conn.close()
delete_product()
all_product()
# 모든 레코드 삭제
# cursor=conn.cursor()
# sql="delete from product"
# cursor.execute(sql)

In [ ]:
def update(price, product_id):
    conn=cx_Oracle.connect("jhs/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="update product set price=:1 where product_id=:2"
    data=(price,product_id)
    cursor.execute(sql,data)
    conn.commit()
    cursor.close()
    conn.close()
price = int(input("Input price : "))
product_id = str(input("Input product_id : "))
update(price, product_id)
all_product()

[1, '레몬', 500, '레몬에 포힘된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '감자', 10, '감자는 맛있습니다.', 'potato.jpg']
[3, '오렌지', 2000, '비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[4, '키위', 3000, '비타민 C가 매우 풍부합니다. 다이어트나 미용에 좋습니다', 'kiwi.jpg']
[6, '딸기', 8000, '비타민 C나 플로보노이드를 다량 함유하고 있습니다,', 'strawberry.jpg']
[7, '귤', 7000, '시네피린을 함유하고 있어 감기 예방에 좋다고 합니다,', 'tangerine.jpg']

In [ ]:
import pymysql
def select_all():
    conn=pymysql.connect(host='localhost',user='jhs',password='1234',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="select * from book"
    cursor.execute(sql)
    for book in cursor:
        print(book)
    conn.close()
select_all()

In [ ]:
def insert_book(data):
    conn=pymysql.connect(host='localhost',user='jhs',password='1234', db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
data=('안드로이드','한빛',650,'홍길동')
insert_book(data)
select_all()

In [ ]:
def insert_book_list(datas):
    conn=pymysql.connect(host='localhost',user='jhs',password='1234',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()
datas=[('안드로이드','한빛',650,'홍길동'),('Oracle DB','한빛',650,'홍길동'),('Spring','영딘',650,'홍길동')]
insert_book_list(datas)
select_all()

In [ ]:
import pymysql
def select_book():
    conn=pymysql.connect(host='localhost',user='jhs',password='1234',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="select * from book where id=%s"
    cursor.execute(sql,(1,))
    for book in cursor:
        print(book)
    conn.close()
select_book()

In [ ]:
def update_book(data):
    conn=pymysql.connect(host='localhost',user='jhs',password='1234',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s, pub=%s, pages=%s, author=%s where id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
data=('Java', '생능','700','홍길동',1)
update_book(data)
select_all()

In [ ]:
def update_many_book(datas):
    conn=pymysql.connect(host='localhost',user='jhs',password='1234',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s, pub=%s, pages=%s, author=%s where id=%s"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()
datas=[('react', '생능','700','최주호',2),('mysql', '한빛','700','홍길동',3),('python', '길벗','700','박경미',4)]
update_many_book(datas)
select_all()

In [ ]:
def delete_book(data):
    conn=pymysql.connect(host='localhost',user='jhs',password='1234',db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="delete from book where id=%s"
    #cursor.execute(sql,data)
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()
#delete_book(4)
delete_book([1,2])
select_all()

In [ ]:
import pymysql
conn = pymysql.connect(host='localhost', user='jhs', password='1234',db='pydb', charset='utf8')
try:
    # INSERT
    with conn.cursor() as curs:
        sql = "insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
        curs.execute(sql, ('철학','한국',500, '한국자'))
    conn.commit()
    # SELECT
    with conn.cursor() as curs:
        sql = "select * FROM book"
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            print(row)
finally:
    conn.close()