In [ ]:
result=[]
for i in range(10):
    result.append(i)
print(result)

In [ ]:
result=[i for i in range(10)]
print(result)

In [ ]:
result2=[i for i in range(10) if i%2==0]
result2

In [ ]:
result3=[i if i%2==0 else 10 for i in range(10)]
result3

In [ ]:
result4=[]
world_1='Hello'
world_2='world'

for i in world_1:
    for j in world_2:
        if not(i==j):
            result4.append(i+j)

print(result4)

In [ ]:
result4=[[(i+j).upper(),(i+j).lower()] for i in world_1 for j in world_2 if not(i==j)]
print(result4)

In [ ]:
words="The water level in Lake Mead — the nation's largest reservoir — dropped below 1,050 feet elevation for the first time last week, a critical milestone that signals more stringent water cuts are around the corner for the Southwest."
result5=[[w.upper(),w.lower(),len(w)] for w in words]
result5

In [ ]:
a=[1,2,3,4]
b=[10,20,30,40]
result=zip(a,b)
for i in result:
    print(i)

In [ ]:
result=[i for i in zip(a,b)]
result

In [ ]:
f=lambda x:x+1
print(f(5))
print((lambda x:x*2)(5))

In [ ]:
class SoccerPlay(object):
    # 생성자
    def __init__(self,name,position,back_number):
        self.name=name
        self.position=position
        self.back_number=back_number
        
    def change_back_number(self,new_back_number):
        print("선수의 등번호 변경: from %d to %d"%(self.back_number,new_back_number))
        self.back_number=new_back_number
    
    # 자바에서 toString()과 비슷한 함수(메소드)
    def __str__(self):
        return "Hello, My name is %s, I play in %s, back_number is %d"%(self.name,self.position,self.back_number)

kim=SoccerPlay('김길동','Mf',10)
print(kim)

kim.change_back_number(11)
print(kim)

In [ ]:
class Person(object):
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return "%s, %d"%(self.name,self.age)
    
    def display(self):
        print("이름 %s, 나이 %d"%(self.name,self.age))

p1=Person('홍길동',20)
p1.display()

In [ ]:
class Student(Person):
    def __init__(self,name,age,sno,major):
        super().__init__(name,age)
        self.sno=sno
        self.major=major
    def __str__(self):
        super().display()
        return "%d, %s"%(self.sno,self.major)
s1=Student('홍길동',20,10,'컴공')
print(s1)